*{
    margin: 0%;
    padding: 0%;
<<<<<<< HEAD
    
}
h2{
    text-align: center;
   font-family: comfortaa Regular ;
   color: white;
   font-size: 40px;
   padding: 30px;
=======
>>>>>>> cb4ab93fd326e751f4731db1d5b1d71ad48bec6a
}
header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
<<<<<<< HEAD
    height: 100px;

} 
.txtensino{
    border:solid 2px #ffffff;
    padding: 30px;
    margin:25px;
    width: 20%;
    height:20%;
    border-radius: 5%;
    background-color: #ffffff ;
    font-size: 20px;
    color: #0a2351;
    font-family: comfortaa Regular ;
}
.ensinoordem{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
}
.active{
    background-color: #b69220;
}
.activeb a{
    color:white;
}
header li:hover{
    background-color: #b69220;
    transition: 2s;
=======

>>>>>>> cb4ab93fd326e751f4731db1d5b1d71ad48bec6a
}
.logoheader img{
    width: 316px;
    height: 104px; 
    margin-left: 10px;
}
 .listaheader a{
    text-decoration: none;
    color: #0a2351;
    font-family: glacial indifferent bold;
    font-size: 24px;
<<<<<<< HEAD
    padding: 35px 25px;
 }
 .listaheader li {
     margin-top: 15px;
    padding: 24px  5px;  
    list-style: none;
    transition: 3s;
 }
 .listaheader ul{
   
     display: flex;
     justify-content: center;
     margin-top: 4x;
=======
 }
 .listaheader li {
     padding: 10px 30px;
    list-style: none;
 }
 .listaheader ul{
     display: flex;
     justify-content: center;
    padding: 30px;
>>>>>>> cb4ab93fd326e751f4731db1d5b1d71ad48bec6a
 }
 @font-face {
     font-family: glacial indifferent bold;
     src: url(../font/GlacialIndifference-Bold.otf);
 }
<<<<<<< HEAD
 @font-face {
     font-family: comfortaa Regular;
     src: url(../font/Comfortaa-Regular.ttf);
 }
#principal{
    background-color: blue ;
    background-size: 100%;
   background-image: url("../img/fundo\ desfocado.png");
   background-repeat: no-repeat;
   background-size: cover;
   height: 500px;

}
#principal img {
    margin-top: 10px;
}
.imgcentro{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px;
   
}
.formulario label{
    display: flex;
    flex-direction: column;
    font-family: comfortaa Regular;
    color:#fff;
    margin-top: 15px;
}
.formulario {
    display: flex;
    justify-content: center;
}


.devsfooter {
width: 150px;
height: 60px;
}
footer{
    background-color: #b69220;
    background-size: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;      
}
.listafooter li{
    list-style: none;
    text-decoration: none;
    color: #0a2351;
    font-family: glacial indifferent bold;
    font-size: 18px;
    margin-left: 25px;
    padding: 3px;
}
.logoscentrofooter img{
    padding: 20px;
}
.devs {
    padding: 34px;
}
.redesfooter{
    display: flex;
    align-items: center;
}
.redesfooter img{
    padding: 8px;
    
}
.face{
    width: 43px;
}
.insta{
    width: 43px;
}
.twi{
    width: 43px;
}
.quemsosmos{
    display: flex;
    justify-content: space-around;
}
.quemimg{
    padding: 80px;
}
.quemflex{
    display: flex;
    flex-direction: column;
    /*espaçamento nas duas imagens*/
}
.quemflex img{
    padding: 10px;
}
@media only screen and (max-width: 700px) {
    ul{
        font-family: glacial indifferent bold;
        position:absolute;
        top: 50%;
        left:50%;
        transform:translate(-50%,-50%);
        list-style: none;
        opacity:0;
        transition: .25s .10s cubic-bezier(0.06,1.04,0.07,1.01);
    }
    a {
        display: block;
        margin-bottom: 35px;
        text-decoration: none;
        color: #fff;
        font-size: 24px;
    }
    .menu {
        width: 42px;
        height: 42px;
        background-color: #b6922e;
        border-radius: 50%;
        position:fixed;
        top: 25px;
        right: 25px;
        cursor: pointer;
        box-shadow: 0 0 0 0px #b6922e, 0 0 0 0px #b6922e;
        transition:box-shadow 1.1s cubic-bezier(.19,1,.22,1);
    }
    .menu:hover{
        box-shadow: 0 0 0 8px #b6922e, 0 0 0 8px #b6922e;
    }
    .hamburguer {
        position: relative;
        display: block;
        background: #fff;
        width: 24px;
        height: 2px;
        top:20px;
        left: 9px;
        transition:.5s ease-in-out;
    }
    .hamburguer:before,
    .hamburguer:after {
        background: #fff;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position:absolute;
        transition:.5s ease-in-out;
    }
    .hamburguer:before {
    top: -10px;
    }
    .hamburguer:after {
        bottom:-10px;
    }
    input{
        display: none;
    }
    input:checked~ul {
        opacity:1;
    }
    input:checked~label .menu {
        box-shadow: 0 0 0 1000vw #0a2351, 0 0 0 1000vw #0a2351;
    }
    input:checked~label .hamburguer {
    transform: rotate(45deg);
    }
    input:checked~label .hamburguer:before {
    transform:rotate(90deg);
    top:0px;
    }
    input:checked~label .hamburguer:after {
    transform:rotate(90deg);
    bottom:0px;
    }
    /*fim do botão*/
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ensinoordem{
        display: flex;
        flex-direction: column;
    }
    .txtensino{
        width:504px ;
        height: 150px ;
        margin-left: 24px;
        margin-right: 24px;
    }
    
}

@media only screen and (min-width: 700px) {
 .botao{
     display: none;
 }
}



=======
#principal{
    background-color: blue ;
    background-size: 100%;
   background-image: url("../img/fundo\ desfocado.png")
}
.devsfooter img{
width: 150px;
height: 60px;

}
>>>>>>> cb4ab93fd326e751f4731db1d5b1d71ad48bec6a
